:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    margin: 100px;
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    top: 20px;
}

